.menu {
  text-align: center;
  left: 7%;
}

.group-box {
  border: 1px solid #777777;
  left: 7%;
}

.group-box button{
  padding: 5px;
}

.group-box label{
  padding: 5px;
}

.btn-box{
  left: 200px;
}